extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Login 
        form(method="post")

            p.errorMessage #{errorMessage}
            input#usermame(type="text", name="logUsername", placeholder="Username or  email", value="andresmicalizzi" required="")
            input#password(type="password", name="logPassword", placeholder="Password", value="1234" required="")
            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.